body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin: 0 auto;
    padding: 0 1em;
}

:root {
    --color-accent: #1100ff;
}
:root {
  color-scheme: light dark;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

.color-scheme select {
  font: inherit;
}


nav {
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 1px solid var(--border-color);
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
}

nav a:hover {
  background-color: rgba(138, 111, 255, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav ul li a.current {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: calc(0.5em - 0.4em);
}

nav ul li a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: rgba(90, 106, 248, 0.1);
}
input,
textarea,
button {
  font: inherit;
}
form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  
  form label,
  form button {
    grid-column: 1 / -1;
  }
  
  form label {
    display: grid;
    grid-template-columns: subgrid;
  }
  
  form label span {
    grid-column: 1;
    align-self: center;
  }
  
  form label input,
  form label textarea {
    grid-column: 2;
    width: 100%;
    box-sizing: border-box;
  }
form input,
form textarea {
  padding: 0.5em;
}

form button {
  padding: 0.5em 1em;
  background-color: var(--color-accent);
  color: #959aeb;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: darken(var(--color-accent), 10%);
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
  }
  .projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  
  .projects article h2 {
    margin: 0;
  }
  h1 {
    font-size: 400%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .cv {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
  }

  .cv h1 {
    margin-top: 0;
  }  
  
  .cv h2 {
    border-bottom: 2px solid var(--color-accent);
    padding-bottom: 0.5em;
    margin-top: 1em;
  }
  
  .cv section {
    margin-bottom: 1em;
  }
  
  .cv ul {
    list-style-type: disc;
    margin-left: 1.5em;
  }
  
  /* Align dates to the right */
  .cv .date {
    text-align: right;
    font-style: italic;
  }
  
  .cv .experience {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
  }