/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; /* Adjust based on navbar height */
}

/* Custom Global Styles */
body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  margin: 0; /* Remove default margins */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

html {
  scroll-behavior: smooth;
}
